.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header > button {
  margin: 24px 0 12px 0;
  padding-left: 18px;
  padding-right: 18px;
}

#threads {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
